@font-face {
    font-family: 'fashion_-_italicfashionIt';
    src: url('../font/Fashion - Italic-webfont.eot');
    src: url('../font/Fashion - Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Fashion - Italic-webfont.woff2') format('woff2'),
         url('../font/Fashion - Italic-webfont.woff') format('woff'),
         url('../font/Fashion - Italic-webfont.ttf') format('truetype'),
         url('../font/Fashion - Italic-webfont.svg#fashion_-_italicfashionIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fashion_-regularfashionRg';
    src: url('../font/Fashion -Regular-webfont.eot');
    src: url('../font/Fashion -Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Fashion -Regular-webfont.woff2') format('woff2'),
         url('../font/Fashion -Regular-webfont.woff') format('woff'),
         url('../font/Fashion -Regular-webfont.ttf') format('truetype'),
         url('../font/Fashion -Regular-webfont.svg#fashion_-regularfashionRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*
|--------------------------------------------------------------------------
| GLOBAL
|--------------------------------------------------------------------------
|
*/ 

    :root {
        font-size: 10px!important;
		
    }
    
    
    body {
        font-size:1.6rem;
        line-height:140%;
		font-family: 'fashion_-regularfashionRg';
		background-color: #efefef;
    }
    
    h1
        {font-size:10rem;}
    
    h2
        {font-size:4rem;}
    
    h3
        {font-size:2.2rem;}
    
    h4 {
		font-size: 2rem;
		padding: 15px 5px;
		margin: 0;
	}
    
    h5 {
		font-size: 18px;
		padding: 5px 10px 6px;
	}

    .font-2{
        font-size:2rem;
		padding: 6px 3px;
    }
	
	button#options-btn.font-2 {
		margin: 0;
	}
    .font-28{
        font-size:2.8rem;
    }
    
    .font-48{
        font-size: 4.8rem;
    }
    


	.flat-btn {
		margin: 0;
	}

	.flat-btn a {
		border-radius: 0;
		min-width: 300px;
	}
	
	.login-row {
		width: 450px;
		margin: 50px auto;
	}

	.alert {
    border-radius: 0;
}
/*
|--------------------------------------------------------------------------
| FLEX
|--------------------------------------------------------------------------
|
*/


    .flex{
        display:flex;
        flex-wrap: wrap;
    }
    
    .space-between{
        justify-content:space-between
    }
    
    .space-around{
        justify-content:space-around
    }
    
    
    .align-center{
        align-items:center
    }
    
    .flex-center{
        display:flex;
        align-items: center;
        justify-content: center;
    }
        
     .flex-jf-end{
         justify-content: flex-end;
    }
   
   
/*
|--------------------------------------------------------------------------
| COLOR
|--------------------------------------------------------------------------
|
*/
/**
 * orange #f27935
 * blue   #14b9d6
 * green  #1fbba6
 * grey   #9EA7B3
 * black  #323A45
 */
 
	.background-green {
		background-color:#1fbba6;
		color:#ffffff;
	}
	
	.background-blue {
		background-color:#14b9d6;
		color:#ffffff;
	}
	
	.background-orange {
		background-color:#f27935;
		color:#ffffff;
	}
	
	a {
		color:#f27935;
	}

	.color-ff {
		color:#ffffff;
	}
	
	.color-ff:hover {
		color: #444;
		text-decoration: none;
	}
	
	#options-btn {
		border-radius: 0;
		margin: 0 15px;
	}
/*
|--------------------------------------------------------------------------
| GRID
|--------------------------------------------------------------------------
|
*/

	.navbar {
		position: relative;
		min-height: 50px;
		margin-bottom: 0;
		border: 0;
	}

	a.navbar-brand {
		padding-top: 4px;
	}
 
	 a.admin-navbar-brand {
		padding: 5px;
		display: inline-block;
		font-size: 30px;
	}
	
	.statistic-body .col-md-4,
	.user-data .col-md-9,
	.user-data .col-md-3,
	.user-data .col-md-9{
		padding: 0 0 20px;
	}
 
	.user-data .col-md-4{
		padding: 0;
	}
 

	.list-file {
		padding-left: 0;
		border-bottom: 1px solid #9ea7b3;
	}
	
 /*
|--------------------------------------------------------------------------
| LOGIN / REGISTER Forma
|--------------------------------------------------------------------------
|
*/

	.login {
		text-align:center;
		background-color: #fff;
		padding: 50px 0;
	}

	.login-btn a{
		padding: 20px 50px;
		font-size: 30px;
	}
	
	.login-btn-box {
		width: 100%;
		border-radius: 0;
		padding: 15px;
		font-size: 20px;
	}

	.login-bottom p {
		width: 50%;
		float: left;
	}
	
	.login-logo {
		text-align:center
	}
	
	.login-logo img {
		width:50%
	}
	
	
	input:-webkit-autofill, 
	textarea:-webkit-autofill, 
	select:-webkit-autofill {
		background-color: #fff!important;
		background-image: none!important;
		color: #333!important;
	}

	.form {
		position: relative;
		z-index: 1;
		background: #FFFFFF;
		max-width: 300px;
		margin: 0 auto 100px;
		padding: 30px;
		border-radius: 0;

		text-align: center;
	}

	.form-control {
		outline: 0;
		background-color: #fff;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		#padding: 15px;
		border-radius: 0;
		box-sizing: border-box;
		font-size: 18px;
		height: 50px;
	}
	
	
	.form button {
		outline: 0;
		background: #EF3B3A;
		width: 100%;
		border: 0;
		padding: 15px;
		border-radius: 0;
		color: #FFFFFF;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
	}
	.form .message {
		margin: 15px 0 0;
		color: #b3b3b3;
		font-size: 12px;
	}
	.form .message a {
		color: #EF3B3A;
		text-decoration: none;
	}
	.form .register-form {
		display: none;
	}

	.login-panel {
		max-width: 350px;
		margin: 0 auto;
	}

	#user-search .form-control{
		height: 35px;
	}
	
	div#user-file {
		padding: 5px;
	}
	
	div#user-file:nth-child(odd) {
		background: rgb(254, 245, 242);
	}
	
	
/*
|--------------------------------------------------------------------------
| INNER CONTENT
|--------------------------------------------------------------------------
|
*/


/**
 * Statistika header
 *
 */

	div#statistic,
	.user-data {
		background: #fff;
	}


/**
 * User info
 *
 */
 
	p.user-gravatar{
		text-align: center;
	}
	
	p.user-gravatar img{
		width:72%;
	}
	
/**
 * Status
 *
 */

	h3.orange{
	    border-bottom: 1px solid #eb5a2d;
		padding-bottom: 10px;
		padding-left: 5px;
	}
	
	h3.blue{
	    border-bottom: 1px solid #14b9d6;
		padding-bottom: 10px;
		padding-left: 5px;
	}
	
	h3.green{
	    border-bottom: 1px solid #1fbba6;
		padding-bottom: 10px;
		padding-left: 5px;
	}
	
	.status-info table {
		width: 100%;
	}

	p.user-status-info {
		padding-left: 45px;
	}
	

/**
 * Breadcrumbs
 *
 */	
	.breadcrumb {
		padding: 8px 15px;
		margin-bottom: 0;
		list-style: none;
		background-color: #9EA7B3;
		border-radius: 0;
		color: #fff;
	}

	.breadcrumb ol, ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.breadcrumb>.active {
		color: #fff;
	}

	.breadcrumb a {
		color: #fff;
	}

	div#user-search {
		margin-top: -15px;
		margin-right: -28px;
	}
	
	button.search-btn {
    padding: 10px 11px 12px;
    border: 0;
    border-radius: 0;
    background: #323a45;
    color: #fff;
    margin-right: -2px;
	}

	form.navbar-form {
		margin-bottom: 0;
	}
	
/**
 * Sidebar Folders
 *
 */	
	a.list-group-item, 
	button.list-group-item {
		color: #fff;
	}

	.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #9ea7b3;
		border: 0;
	}

	a.list-group-item:focus, 
	a.list-group-item:hover, 
	button.list-group-item:focus, 
	button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #323A45;
	
	-webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
	}
	
	.list-group-item:first-child,
	.list-group-item:last-child {
		border-radius: 0;
	}
	
	.list-group-item.active, 
	.list-group-item.active:focus, 
	.list-group-item.active:hover {
		z-index: 2;
		color: #fff;
		background-color: #323A45;
		border-color: #323A45;
	}
/**
 * Folders
 *
 */
	.folder-info {
		border: 1px solid #efefef;
		margin-top: 20px;
		padding: 10px;
		text-align: center;
	}
	
	.dropdown, .dropup {
		position: relative;
		width: 100px;
		float: left;
	}
	
	p.btn-edit {
		margin: 0;
		padding: 0 0 8px 0!important;
		text-align: right;
	}
	p.btn-edit a {
		width: 100px;
		margin: 0 10px;
		border-radius: 0;
	}

	h5.orange{
	    border-bottom: 1px solid #eb5a2d;
	}
	
	h5.blue{
	    border-bottom: 1px solid #14b9d6;
	}
	
	h5.green{
	    border-bottom: 1px solid #1fbba6;
	}
	
	.loop-categories p {
		padding: 10px 5px 10px 20px;
		border-bottom: 1px solid #9ea7b3;
	}
	
	.create-info select,
	.create-info input{
		border: 1px solid #9ea7b3;
		margin: 20px;
		width: 90%;
	}
	
	.create-info button {
		border-radius: 0;
		padding: 13px 30px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#create-folder .form-group,
	#categories-edit .form-group {
    margin: -4px 0;
}

/*
|--------------------------------------------------------------------------
| ADMIN DIO
|--------------------------------------------------------------------------
|
*/
	.admin-container {
		background-color: #fff;
	}
	
	.user-info {
		padding: 20px;
		height:230px;
	}
	
	.user-info-inner a{
		padding: 10px;
		border: 1px solid #fff;
		border-radius: 0;
		width: 80px;
	}
	
	
	
	
	